@font-face {
  font-family: "EXO2.0-REGULAR";
  font-weight: normal;
  src: local("EXO2.0-REGULAR"),
    url("../public/assets/fonts/EXO2.0-REGULAR.OTF") format("truetype");

  font-display: block;
}

:root {
  /* Global colors and font sizes*/

  --bg-color: #ffffff;
  --card-color: #ffffff;
  --heading-color: #000000;
  --para-color: #999999;

  --heading-font: 1.5rem;
  --para-font: 1rem;
  --heading-md-font: 1.2rem;

  /* Border-Radius */

  --border-radius: 0.6rem;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "EXO2.0-REGULAR";
}
